.logo{
    width: 90px;
    padding: 10px;
    border-radius: 50%;
}

header{
    background-image: url(img/banner.jpg);
    border: 3px solid purple;
    position: relative;
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
    font-family: 'Open Sans', sans-serif;
}


nav li{
    display: inline;
    margin: 0 0 0 10px;
}

nav a{
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    position: relative;
    left: 70%;
    
}

.principal{
    background: white;
    border: 5px double lightcoral ;
    position: relative;
    padding: 50px;
    margin-left: -15px;
    margin-right: -5px;
    
}

.email{
    width: 30%;
}
