.logo{
    width: 90px;
    padding: 10px;
    border-radius: 50%;
}

header{
    background-image: url(img/banner.jpg);
    border: 3px solid purple;
    position: relative;
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
}


nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
  
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    position: relative;
    left: 70%;
    font-family: 'Open Sans', sans-serif;
    
}


body{
    background: lightpink;
    padding: 10px;
}

.titulo{
        font-size: 25px;
        font-weight: bold;
        color: purple;
        padding: 10px;
        margin-left: 10px;
        font-family: 'Open Sans', sans-serif;
}
   
    
.paragrafo{
    text-align: justify;
    font-size: 20px;
    padding: 20px;
    margin: 5px 80px 5px 5px;
    font-family: 'Open Sans', sans-serif;
   
}

.video{
    margin-left: 30%;
}

.imagem{
    width: 20%;
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 30%;
    padding: 20px;

}

.video{
    padding: 20px;
}